.error {
  color: red;
  font-weight: bold;
}

html, body, {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 75%;
}

#lotInfo {
    height: 100%;
    width: 25%;
    padding: 10px;
    margin-top: 20;
}